.Footer {
  display: block;
  padding: 4rem 20%;
  width: 100%;
  background: $color-black;
  color: $color-grey-light;

  @include respond(tab-land) {
    padding: 6rem 10%;
  }

  @include respond(tab-port) {
    padding: 3rem 4rem;
  }

  &__heading {
    color: $color-tertiary;
  }

  &__list {
    margin-left: 2rem;
    list-style: none;
    max-width: 40rem;
  }

  &__listItem {
  }

  &__link {
    float: right;
  }
}
