.Card {
  border-radius: 1rem;
  padding: 3rem 2rem;
  width: 100%;
  background-color: $color-white;

  &__title {
    display: inline-block;
    margin-bottom: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-primary;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__detailSection {
    padding-bottom: 1rem;
  }

  &__detail {
    display: inline;
    font-weight: 400;
    font-size: $default-font-size;
    font-style: italic;
    line-height: 1;
    color: $color-grey-dark;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__description {
  }

  &__blank {
    background-color: $color-grey;
    color: $color-grey;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
