.CardImage {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);

  @include respond(tab-port) {
    width: 100%;
  }

  &__content {
    border-radius: 0 0 1rem 1rem;
    padding: 2rem;
    background-color: $color-white;
  }

  &__title {
    display: inline-block;
    margin-bottom: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-primary;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__details {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: $default-font-size;
    font-style: italic;
    line-height: 1;
    color: $color-grey-dark;
  }

  &__description {
  }

  &__imgContainer {
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    object-position: right;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
