.Gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;

  &__imgContainer {
    max-width: 25rem;
    padding: 0.6rem;
    text-align: center;

    @include respond(phone) {
      max-width: 20rem;
    }
  }

  &__imgAlt {
    font-size: 1.2rem;
    font-style: italic;
  }

  &__img {
    min-width: 100%;
    max-height: 30vh;
  }
}
