.Image {
  &__imgContainer {
    width: 25rem;
    margin-bottom: 0.6rem;
    text-align: center;

    &--left {
      float: left;
      width: 25rem;
      margin-right: 3rem;

      @include respond(phone) {
        float: none;
        margin-right: 0;
      }
    }

    &--right {
      float: right;
      width: 25rem;
      margin-left: 3rem;

      @include respond(phone) {
        float: none;
        margin-left: 0;
      }
    }
  }

  &__image {
    cursor: pointer;

    &--full {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 80vh;
    }
  }

  &__alt {
    font-size: 1.2rem;
    font-style: italic;
  }
}
