.PostList {
  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid $color-grey-dark;
  }

  &__control {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__controlButton {
    display: block;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 3.6rem;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &__tagSelect {
    display: block;
    border: 1px solid $color-black;
    outline: none;
    padding: 0.6rem;
    min-width: 25rem;
    background-color: $color-white;
    color: $color-black;
    font-size: 2rem;
  }

  &__searchMsg {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
  }

  &__errorMsg {
    text-align: center;
  }

  
}
