.ReactionElement {
  position: relative;

  &__content {
    &:hover + .ReactionElement__options {
      visibility: visible;
    }
  }

  &__options {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem 0.4rem;
    border-radius: 0.4rem;
    background-color: $color-grey-light;
    color: $color-grey-dark;
    line-height: 1;

    &:hover {
      visibility: visible;
    }
  }

  &__link,
  &__link--heart {
    display: inline-block;
    cursor: pointer;
    color: $color-grey-dark;

    &:hover {
      color: $color-primary-light;
    }

    &--heart:hover {
      color: $color-danger;
    }
  }

  &__icon {
    margin: 0 0.5rem;
  }

  &__alert {
    position: absolute;
    top: -2.2rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: max-content;
    background-color: $color-grey-dark;
    font-size: 1rem;
    color: $color-white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left: 7px;
      border: 6px solid transparent;
      border-bottom-color: $color-grey-dark;
      transform: rotate(180deg);
    }

    &::after {
      left: 8px;
      border: 5px solid transparent;
      border-bottom-color: $color-grey-dark;
    }
  }
}
