.TextBlock {
  padding: 4rem;
  width: 100%;
  background-color: $color-grey-darker;
  color: $color-white;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__heading {
    color: $color-tertiary;
  }
}